<% include header %>
<% if( typeof messageError !== 'undefined'){ %>
        <div class="alert alert-danger">
          <%= messageError %>
        </div>
<% } %> 
<% if (typeof messageSuccess !== 'undefined'){ %>
        <div class="alert alert-success">
          <%= messageSuccess %>
        </div>
<% } %>
<br/>
<% if(typeof utilisateur == 'undefined'){ %>
    <form method='post' action='/user/create'>
    	<input type="text" name="nom" placeHolder="nom">
    	<input type="text" name="prenom" placeHolder="prenom">
    	<input type="text" name="mail" placeHolder="mail">
    	<input type="text" name="tel" placeHolder="tel">
    	<SELECT name="service" size="1">
    		<% for(var i=0; i < services.length; i++){ %>
			<OPTION value= "<%= services[i].id %>"><%= services[i].nom_service %></option>
			<% } %>	
		</SELECT>
		<SELECT name="role" size="1">
    		<% for(var i=0; i < roles.length; i++){ %>
			<OPTION value= "<%= roles[i].id %>"><%= roles[i].nom_role %></option>
			<% } %>		
		</SELECT>
    	<input type="submit" value="Creation">

    </form>
  <% }else{ %>
  	<form method='post' action='/user/update/<%= utilisateur.id %>'>
    	<input type="text" name="nom" placeHolder="<%= utilisateur.nom %>" value="<%= utilisateur.nom %>">
    	<input type="text" name="prenom" placeHolder="<%= utilisateur.prenom %>" value="<%= utilisateur.prenom %>">
    	<input type="text" name="mail" placeHolder="<%= utilisateur.mail %>" value="<%= utilisateur.mail %>">
    	<input type="text" name="tel" placeHolder="<%= utilisateur.tel %>" value="<%= utilisateur.tel %>">
    	<SELECT name="service" size="1">
    		<% for(var i=0; i < services.length; i++){ %>
    			<%  if( utilisateur.id_service.id == services[i].id) { %>
    				<OPTION selected value= "<%= services[i].id %>"><%= services[i].nom_service %></option>
    			<% }else{ %>
					<OPTION value= "<%= services[i].id %>"><%= services[i].nom_service %></option>
				<% } %>
			<% } %>	
		</SELECT>
		<SELECT name="role" size="1">
    		<% for(var i=0; i < roles.length; i++){ %>
			<OPTION value= "<%= roles[i].id %>"><%= roles[i].nom_role %></option>
			<% } %>		
		</SELECT>
    	<input type="submit" value="Creation">

    </form>
  <% } %>
<% include footer %>
