<% include header %>
<% if( typeof messageError !== 'undefined'){ %>
        <div class="alert alert-danger">
          <%= messageError %>
        </div>
<% } %>
<% if (typeof messageSuccess !== 'undefined'){ %>
        <div class="alert alert-success">
          <%= messageSuccess %>
        </div>
<% } %>
<br/>
<% if(typeof pointage == 'undefined'){ %>
    <form method='post' action='/user/<%= id_utilisateur %>/pointage/create'>
    	<input type="text" class="datetimepicker" name="date_entree" placeHolder="date_entree">
    	<input type="text" class="datetimepicker" name="date_sorti" placeHolder="date_sorti">
    	<input type="submit" value="Creation">

    </form>
  <% }else{ %>
  	<form method='post' action='/user/<%= id_utilisateur %>/pointage/update/<%= pointage.id %>'>
    	<input type="text" class="datetimepicker" name="date_entree" placeHolder="<%= pointage.date_entree %>" value="<%= pointage.date_entree %>">
    	<input type="text" class="datetimepicker" name="date_sorti" placeHolder="<%= pointage.date_sorti %>" value="<%= pointage.date_sorti %>">
    	<input type="submit" value="Creation">

    </form>
  <% } %>
<% include footer %>
<script>
  $(document).on("ready", function(){
    $(".datetimepicker").each(function(){
      var date = new Date($(this).val());
      console.log(date);
      $(this).val( (date.getDay() >= 10 ? date.getDay() : "0"+date.getDay() ) +"-"+ (date.getMonth() >= 10 ? date.getMonth() : "0"+date.getMonth() ) +"-"+date.getFullYear()+" "+(date.getHours() >= 10 ? date.getHours() : "0"+date.getHours() )+":"+(date.getMinutes() >= 10 ? date.getMinutes() : "0"+date.getMinutes() ) )
    })
  });
</script>
