<% include header %>
<% if( typeof messageError !== 'undefined'){ %>
        <div class="alert alert-danger">
          <%= messageError %>
        </div>
<% } %> 
<% if (typeof messageSuccess !== 'undefined'){ %>
        <div class="alert alert-success">
          <%= messageSuccess %>
        </div>
<% } %>
<br/>
<% if(typeof pointage == 'undefined'){ %>
    <form method='post' action='/user/<%= id_utilisateur %>/pointage/create'>
    	<input type="text" name="date_entree" placeHolder="date_entree">
    	<input type="text" name="date_sortie" placeHolder="date_sortie">
    	<input type="submit" value="Creation">

    </form>
  <% }else{ %>
  	<form method='post' action='/user/<%= id_utilisateur %>/pointage/update/<%= pointage.id %>'>
    	<input type="text" name="nom" placeHolder="<%= pointage.date_entree %>" value="<%= pointage.date_entree %>">
    	<input type="text" name="prenom" placeHolder="<%= pointage.date_sorti %>" value="<%= pointage.date_sorti %>">
    	<input type="submit" value="Creation">

    </form>
  <% } %>
<% include footer %>
