<% include header %>

<% if( typeof messageError !== 'undefined'){ %>
        <div class="alert alert-danger">
          <%= messageError %>
        </div>
<% } %> 
<% if (typeof messageSuccess !== 'undefined'){ %>
        <div class="alert alert-success">
          <%= messageSuccess %>
        </div>
<% } %>
<br/>
<div class='table-responsive'>
  <table class="table table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>date_entree</th>
      <th>date_sortie</th>
      <th> <a href='/user/<%= id_utilisateur %>/pointage/create'> <button type="button" class="btn green"> Nouveau</button></a> </th>
    </tr>
  </thead>
  <tbody>
  <% for( var i=0; i<pointages.length; i++){ %>
    <tr>
      <td> <%= pointages[i].date_entree %> </td>
      <td> <%= pointages[i].date_sorti %> </td>
      <td> <a href='/user/<%= id_utilisateur %>/pointage/update/<%= pointages[i].id %>'> <button type="button" class="btn btn-default"> Modifier</button></a> </td>
      <td> <a href='/user/<%= id_utilisateur %>/pointage/delete/<%= pointages[i].id %>'> <button type="button" class="btn btn-danger"> Supprimer</button></a> </td>
    <tr>
  <% } %>
</tbody>
  </table>
  </div>

<% include footer %>
