<% include header %>

<% if( typeof messageError !== 'undefined'){ %>
        <div class="alert alert-danger">
          <%= messageError %>
        </div>
<% } %> 
<% if (typeof messageSuccess !== 'undefined'){ %>
        <div class="alert alert-success">
          <%= messageSuccess %>
        </div>
<% } %>
<br/>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            </div>
        
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer l'utilisateur ?</p>
                <p class="debug-url"></p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<h2>Gestion des pointages</h2>

<table>
<div class='table-responsive'>

  <table class="table table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Mail</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>
  <% for( var i=0; i<utilisateurs.length; i++){ %>
    <tr>
      <td> <%= utilisateurs[i].nom %> </td>
      <td> <%= utilisateurs[i].prenom %> </td>
      <td> <%= utilisateurs[i].mail %> </td>
      <td> <%= utilisateurs[i].id_service.nom_service %> </td>
      <td> <a href='/user/<%= utilisateurs[i].id %>/pointage'> <button type="button" class="btn btn-infos"> Pointages</button></a> </td>
    <tr>
  <% } %>
</tbody>
  </table>
  <a href='/'> <button type="button" class="btn btn-default green"> Retour</button></a> 

  </div>
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            
            //$('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });
    </script>
<% include footer %>